---
title: Действительно хорошие вещи!
---

#preloader
  #page-loader
    %ul.be-loader 
      %li
      %li
      %li
      %li

#home.section
  %ul#scene(data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15")
    %li.layer(data-depth="0.10")
      .back
    %li.layer(data-depth="0.20")
      .hz1
    %li.layer(data-depth="0.30")
      .hz2
    %li.layer(data-depth="0.40")
      .hz3
    %li.layer(data-depth="0.50")
      .pistol
    %li.layer(data-depth="0.60")
      .knife
    %li.layer(data-depth="0.70")
      .stikers
    %li.layer(data-depth="0.80")
      .shaver
    %li.layer(data-depth="0.90")
      .cigar.smoke-box
    
  

.header-line.about
  .hex-top
  .hex-bottom
  %h1#about-link.title
    Обо мне

#about.section
  
  .page.clearfix.cbp-so-section.do-load.anim-grow
    .me.target-grow
    
    .why.cbp-so-side.cbp-so-side-left
      %h2.sub-title.text.sub-title-t
        Почему Я?
      .desc
        Я — цельное звено, накрепко соединяющее цепь удачных обстоятельств, финансового благополучия и личностного саморазвития. Присущая мне креативность дерзко подчиняет себе и классические основы, и современный подход. А мой перфекционизм отличается филигранностью исполнения и новаторскими идеями.
        
    .what.cbp-so-side.cbp-so-side-right
      %h2.sub-title.text.sub-title-t
        Что Я делаю?
      .desc
        Я делаю продукт, который максимально реализует потребности вашего дела. Лаконичная айдентика, созданная мной, — это уже целостный результат. Эффектный и эффективный дизайн станет колоритным образом вашего проекта. Мой опыт, чувство стиля и привычка воплощать в жизнь только прекрасное гарантируют вашему бизнесу высокую конкурентоспособность.
        .slide-text
    
    .cbp-so-section.do-load.anim-grow.box-twitter
      .twitter.text.big-t.target-grow
        Скоро релиз мобильного приложения на Titanium — очень перспективная платформа.
      .signature.target-grow
        %a(href="https://twitter.com/eedoov" title="twitter voodee")<
          @eedoov
        \-
        %span.twitter-data
          12 февраля 2014
      

.header-line.revert.work
  .hex-top
  .hex-bottom
  %h1#work-link.title
    Мои работы
    
    
#grid.section
  .hex-big
    .hex-big-container

      %ul.clearfix
        %li.clearfix.cbp-so-section.do-load.anim-grow
          .grid-el.target-grow
            .hex
              .hex-container
                %a(href="#" data-load="coming-soon")
                  %img(src="img/portfolio/coming-soon/prev.jpg")
                  .mask
                  %h2
                    Ваш проект
                    
          .grid-el.target-grow
            .hex
              .hex-container
                %a(href="#" data-load="zakazkofe")
                  %img(src="img/portfolio/zakazkofe/prev.jpg")
                  .mask
                  %h2
                    ЗаказКофе
                    
        %li.clearfix.cbp-so-section.do-load.anim-grow
          .grid-el.target-grow
            .hex
              .hex-container
                %a(href="#" data-load="business-cart")
                  %img(src="img/portfolio/business-cart/prev.jpg")
                  .mask
                  %h2
                    Визитная карточка
                    
          .grid-el.target-grow
            .hex
              .hex-container
                %a(href="#" data-load="di-gallery")
                  %img(src="img/portfolio/di-gallery/prev.jpg")
                  .mask
                  %h2
                    DI Gallery
                    
                  
        %li.clearfix.cbp-so-section.do-load.anim-grow
          .grid-el.target-grow
            .hex
              .hex-container
                %a(href="#" data-load="neorostov")
                  %img(src="img/portfolio/neorostov/prev.jpg")
                  .mask
                  %h2
                    NeoRostov
                    
          .grid-el.target-grow
            .hex
              .hex-container
                %a(href="#" data-load="amlsport")
                  %img(src="img/portfolio/amlsport/prev.jpg")
                  .mask
                  %h2
                    amlSport
                    
                  
        %li.clearfix.cbp-so-section.do-load.anim-grow
          .grid-el.target-grow
            .hex
              .hex-container
                %a(href="#" data-load="coffee61")
                  %img(src="img/portfolio/coffee61/prev.jpg")
                  .mask
                  %h2
                    Coffee61
                    
          .grid-el.target-grow
            .hex
              .hex-container
                %a(href="#" data-load="42re")
                  %img(src="img/portfolio/42re/prev.jpg")
                  .mask
                  %h2
                    42re
              
            
        
                  
.header-line.strategy
  .hex-top
  .hex-bottom
  %h1#strategy-link.title
    Стратегия
    
#strategy.section
  .strategy-content
  
    %ul.strategy-list.clearfix.cbp-so-section
      %li.cbp-so-section.do-load.anim-grow.cbp-so-side-left
        %h2.target-grow
          Анализ
        .desc.target-grow
          Мой опыт ключевым камнем заложен в фундамент вашего благополучия. Просто доверяйте мне, и результат превзойдет ваши самые смелые ожидания!
      %li.cbp-so-section.do-load.anim-grow
        %h2.target-grow
          Макет
        .desc.target-grow
          Разработаю макет, который заставит каждый пиксель работать на удобный интерфейс и чёткую айдентику. Эффективность моей работы видна каждому. Эффект впечатляет всех.
      %li.cbp-so-section.do-load.anim-grow.cbp-so-side-right
        %h2.target-grow
          Прототип
        .desc.target-grow
          Есть крутая идея? Предлагаю воплотить её в жизнь незамедлительно! Максимально креативно. Абсолютно инновационно. Красиво. Умно.
      

.header-line.revert.contact
  .hex-top
  .hex-bottom
  %h1#contact-link.title
    Выпьем кофе?
    
#map-canvas

#contact.section
  .contact-content.clearfix.cbp-so-section
    
    %ul.contact-right.cbp-so-side.cbp-so-side-right
      %li.icon-mail-alt
        %h2
          %a(href="mailto:thai_fun@voodee.ru" title="")
            thai_fun@voodee.ru
      %li.icon-phone
        %h2
          (863) 232-58-19
          
      %li.icon-home
        %h2
          %a(href="https://plus.google.com/109455834951323776685" rel="publisher")
            Ростов, ул. Максима Горького, 151
          
    %form#ajax-form.contact-left.cbp-so-side.cbp-so-side-left(action="mail.php")
      .col-left
        %input#name(type="text" name="name" placeholder="Имя")
      .col-right
        %input(type="text" name="tel" placeholder="Телефон")
      .col-center
        %textarea(name="message" placeholder="Комментарий")
      .col-bottom
        %input#send(type="submit" value="Отправить")

#footer.section.clearfix
  %ul.social-footer
    %li
      %a.icon-gplus(href="https://plus.google.com/113597329355314764988?rel=author" rel="author" title="g+")
    %li
      %a.icon-facebook(href="https://www.facebook.com/voodee" title="fb")
    %li
      %a.icon-vkontakte(href="http://vk.com/voodee" title="vk")
    %li
      %a.icon-twitter(href="https://twitter.com/eedoov" title="twitter")


.component
  / Start Nav Structure
  %button#cn-button.cn-button.close
    .cross
      .x
      .y
  #cn-wrapper.cn-wrapper
    %ul#navigate
      %li
        %a.icon-coffee(href="#" title="Контакты" data-link="contact-link")
      %li
        %a.icon-puzzle(href="#" title="Стратегия" data-link="strategy-link")
      %li
        %a.icon-scissors(href="#" title="Работы" data-link="work-link")
      %li
        %a.icon-attach(href="#" title="Обо мне" data-link="about-link")
        
  #cn-overlay.cn-overlay
  / End Nav Structure
  
  
%section#portfolio-window.can-animate.animate
  %a.close(href="#")
  .work-one


-##parallax(data-0="background-position: 0px 0px;" data-100000="background-position: 0px -250000px;")

%a.icon-q.icon-info(href="#" title="Задать вопрос" onClick="script: Zenbox.show(); return false;")
  
%script(type="text/template" id="project")
  :plain
    <div class="project">
      <div class="omega">
        <h2>{{fullName}}</h2>
        <p>{{{desc}}}</p>
        {{#url}}
          <p>
            <a href="{{{url}}}" class="next-to-visit">Посмотреть сайт</a>
          </p>
        {{/url}}
      </div>
      <div class="alpha">
        <img src="img/imac@2x.png" class="imac" />
        <ul class="project-slider">
          {{#items}}
            <li>
              {{#img}}
                <img src="img/{{src}}" alt="" />
              {{/img}}
              
              {{#video}}
                <div class="video-container">{{{src}}}</div>
              {{/video}}
            </li>
          {{/items}}
        </ul>
      </div>
    </div>
-#
  .project
    .omega
      %h2
        {{fullName}}
          
        
      %p
        {{{desc}}}
        
      {{#url}}
        %p
          %a.next-to-visit(href="{{{url}}}")
            Посмотреть сайт
      {{/url}}
        
    
    .alpha
      %img.imac(src="img/imac@2x.png")
      %ul.project-slider
        {{#items}}
          %li.project-slider-el
            {{#img}}
              %img(src="img/{{url}}" alt="")
            {{/img}}
            
            {{#video}}
              .video-container
                {{url}}
            {{/video}}
        {{/items}}